.catalog {
  padding-top: 30px;
  padding-bottom: 60px;

  @include media-min ($xl) {
    padding-top: 40px;
    padding-bottom: 80px;
  }
}

@import "catalog-cat-grid";
@import "catalog-products";
@import "filters";
@import "filters-content";
