.site-menu {
  &__list {
    & ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    & > li > a {
      border-bottom: 1px solid var(--gray80);
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }

    & .menu-item-has-children > ul {
      padding-left: 20px;
      border-bottom: 1px solid var(--gray80);
    }

    & .current-menu-item > a {
      color: var(--accent);
      text-decoration: underline;
    }

    & a {
      display: block;
      padding: 12px 0;
      color: var(--black);
      text-decoration: none;
      transition: color .15s ease-in-out;

      &:hover {
        color: var(--accent);
        text-decoration: underline;
      }
    }
  }

  @include media-min ($xl) {
    &__list {
      display: flex;
      justify-content: space-between;

      & > li > a {
        padding: 16px 0;
        border-bottom: none;

        &:hover {
          text-decoration: underline;
        }
      }

      & a {
        display: block;
        padding: 12px 20px;
        color: var(--black);
        text-decoration: none;

        &:hover {
          color: var(--accent);
          text-decoration: underline;
        }
      }

      & .menu-item-has-children > ul {
        padding-left: 0;
        border-bottom: none;
      }

      & .menu-item-has-children {
        position: relative;
        padding-right: 20px;

        &::after {
          content: '';
          position: absolute;
          right: 0;
          top: 50%;
          width: 12px;
          height: 6px;
          background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.867188 1.03262L6.86719 7.03262L12.8672 1.03262' stroke='%233D4248'/%3E%3C/svg%3E ");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          transform: translateY(-50%);
          transition: transform .15s ease-in-out;
        }

        & > ul {
          display: none;
          animation-name: fade-down;
          animation-fill-mode: forwards;
          animation-duration: .2s;
        }

        &:hover {
          &::after {
            background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.867188 1.03262L6.86719 7.03262L12.8672 1.03262' stroke='%23E4332C'/%3E%3C/svg%3E ");
            transform: translateY(-50%) rotateZ(180deg);
          }

          & > ul {
            display: block;
            position: absolute;
            top: calc(100% + 1px);
            background-color: var(--white);
            min-width: 220px;

            & a {
              &:hover {
                background-color: var(--yellow10);
              }
            }
          }
        }
      }
    }
  }
}
