.calculator {
  padding-top: 30px;
  padding-bottom: 40px;

  &__descr {
    margin-bottom: 30px;
  }

  &__table {
    position: relative;
    overflow: auto;
    margin-bottom: 40px;

    & table {
      font-size: 14px;
      display: inline-block;
      border-collapse: collapse;
      max-width: 100%;
      overflow-x: auto;
      white-space: nowrap;
      padding-bottom: 10px;
    }

    & td {
      padding: 6px;
      width: 110px;
      height: 32px;
      min-width: 100px;
      border: 1px solid var(--gray80);
      text-align: center;
      overflow: hidden;
      user-select: none;
      transition: background-color .2s ease-in-out;

      &[data-group] {
        cursor: pointer;
      }

      &[data-group="one"] {
        background-color: var(--group1);
      }

      &[data-group="two"] {
        background-color: var(--group2);
      }

      &[data-group="three"] {
        background-color: var(--group3);
      }

      &[data-group="four"] {
        background-color: var(--group4);
      }

      &[data-group="five"] {
        background-color: var(--group5);
      }

      &.active {
        background-color: var(--group-active);
      }
    }
  }

  &__groups {
    display: grid;
    gap: 20px;
  }

  &__group {
    & > p {
      position: relative;
      padding: 16px;
      padding-right: 50px;
      color: var(--white);
      border: 1px solid var(--gray80);
      user-select: none;
      cursor: pointer;
      transition: color .2s ease-in-out, background-color .2s ease-in-out;

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 16px;
        width: 24px;
        height: 24px;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='12' viewBox='0 0 20 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.10156 1.54883L10.1016 10.5488L19.1016 1.54883' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 18px 9px;
        transform: translateY(-50%);
        transition: transform .15s ease-in-out;
      }
    }

    & > ul {
      display: none;
      padding: 16px 20px;
      gap: 6px;

      & a {
        color: var(--black);
        text-decoration: none;
        transition: color .15s ease-in-out;

        &:hover {
          color: var(--accent);
          text-decoration: underline;
        }
      }
    }

    & > div {
      display: none;
    }

    &[data-group="one"] {
      & > p {
        background-color: var(--group1);
      }
    }

    &[data-group="two"] {
      & > p {
        background-color: var(--group2);
      }
    }

    &[data-group="three"] {
      & > p {
        background-color: var(--group3);
      }
    }

    &[data-group="four"] {
      & > p {
        background-color: var(--group4);
      }
    }

    &[data-group="five"] {
      & > p {
        background-color: var(--group5);
      }
    }

    &.active {
      & > p {
        color: var(--black);
        background-color: var(--group-active);

        &::after {
          background-image: url("data:image/svg+xml,%3Csvg width='20' height='12' viewBox='0 0 20 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.10156 1.54883L10.1016 10.5488L19.1016 1.54883' stroke='%233D4248' stroke-width='2'/%3E%3C/svg%3E%0A");
          transform: translateY(-50%) rotateZ(180deg);
        }
      }

      & > ul {
        display: grid;
      }

      & > div {
        display: block;
      }
    }
  }

  @include media-min ($xl) {
    padding-top: 40px;

    &__groups {
      grid-template-columns: repeat(5, 1fr);
    }

    &__group {
      & > p {
        padding: 16px;

        &::after {
          display: none;
        }
      }

      & > ul {
        display: grid;
      }

      & > div {
        display: block;
      }
    }
  }
}

.calculator-descr {
  padding-bottom: 60px;

  @include media-min ($xl) {
    padding-bottom: 80px;
  }
}
