.action-products {
  padding-bottom: 50px;
  border-bottom: 1px solid var(--gray80);

  &--recomended {
    background-color: var(--gray10);
    border-bottom: none;
  }

  &__top {
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--gray80);
    margin-bottom: 30px;
  }

  &__slider {
    & .swiper-slide {
      height: auto;
    }
  }

  &__pagination {
    margin-top: 12px;
  }

  @include media-min ($md) {
    &__top-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__next {
      margin-left: 16px;
    }
  }

  @include media-min ($xl) {
    padding-bottom: 80px;
  }
}
