.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 1.3;
  font-weight: 500;
  padding: 18px 32px;
  color: var(--white);
  background-color: var(--accent);
  border: 1px solid var(--accent);
  text-decoration: none;
  transition: color .15s ease-in-out, background-color .15s ease-in-out;

  &:hover {
    color: var(--accent);
    background-color: transparent;
  }

  &--outlined {
    color: var(--black);
    background-color: var(--white);

    &:hover {
      color: var(--white);
      background-color: var(--accent);
    }
  }

  &--light {
    color: var(--black);
    background-color: var(--white);
    border: 1px solid var(--white);

    &:hover {
      color: var(--white);
      background-color: transparent;
    }
  }

  &:disabled,
  &.disabled {
    filter: grayscale(1) opacity(.3);
    pointer-events: none;
  }
}
