.form {
  &__input {
    font-size: 16px;
    padding: 12px 14px;
    width: 100%;
    color: var(--black);
    background-color: transparent;
    border: 1px solid var(--accent);
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &.invalid {
      background-color: var(--error);
    }

    &::placeholder {
      color: var(--gray60);
    }
  }

  &__textarea {
    resize: none;
    height: 6em;
  }

  &__select-wrapper {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 14px;
      z-index: 1;
      display: inline-block;
      width: 12px;
      height: 6px;
      background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.06836 1.03271L7.06836 7.03272L13.0684 1.03271' stroke='%23E4332C'/%3E%3C/svg%3E");
      background-size: cover;
      transform: translateY(-50%);
    }
  }

  &__checkbox {
    & + label {
      position: relative;
      padding-left: 28px;
      display: inline-block;
      cursor: pointer;
      user-select: none;

      &::before,
      &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 2px;
        width: 16px;
        height: 16px;
      }

      &::before {
        border: 1px solid var(--accent);
      }
    }

    &:checked + label {
      &::before {
        background-color: var(--accent);
      }

      &::after {
        background-image: url("data:image/svg+xml,%3Csvg width='13' height='11' viewBox='0 0 13 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.06641 4.03262L6 9.5L12.5 0.5' stroke='white'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 12px 9px;
      }
    }

    &.invalid + label {
      &::before {
        background-color: var(--error);
      }
    }
  }
}
