.yt-video {
  position: relative;

  width: 100%;
  height: 0;
  padding-bottom: 56.25%;

  background-color: #000000;

  &--enabled {
    cursor: pointer;

    & .yt-video__button {
      display: block;
    }
  }

  &:hover &__button-shape,
  &__button:focus &__button-shape {
    fill: #ff0000;
    fill-opacity: 1;
  }

  &__link {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
  }

  &__media {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    border: none;
  }

  &__button {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;

    display: none;
    width: 68px;
    height: 48px;
    padding: 0;

    background-color: transparent;
    border: none;
    transform: translate(-50%, -50%);
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  &__button-shape {
    transition: fill 0.25s ease-in-out;

    fill: #212121;
    fill-opacity: 0.8;
  }

  &__button-icon {
    transition: fill 0.25s ease-in-out;

    fill: #ffffff;
  }
}
