.about-advantages {
  padding-top: 10px;
  padding-bottom: 60px;

  &__list {
    display: grid;
    gap: 20px;
    margin-bottom: 40px;
  }

  &__resume-text {
    margin-bottom: 40px;
  }

  @include media-min ($md) {
    padding-top: 20px;

    &__list {
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
      margin-bottom: 50px;
    }

    &__resume-text {
      margin-bottom: 50px;
    }
  }

  @include media-min ($xl) {
    padding-bottom: 80px;

    &__list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
