.layer-item {
  min-height: 36px;

  --transition-props: .5s cubic-bezier(.785, .135, .15, .86);

  &__title {
    position: relative;
    font-weight: 500;
    text-align: left;
    width: 100%;
    padding-right: 66px;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      margin-top: -9px;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      background-color: var(--yellow10);
      background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.28125 0C8.97061 0 8.71875 0.251587 8.71875 0.5625V8.15625H0.5625C0.251862 8.15625 0 8.40784 0 8.71875C0 9.02966 0.251862 9.28125 0.5625 9.28125H8.71875V17.4375C8.71875 17.7484 8.97061 18 9.28125 18C9.59189 18 9.84375 17.7484 9.84375 17.4375V9.28125H17.4375C17.6349 9.28125 17.8086 9.17963 17.909 9.02582C17.9666 8.93738 18 8.83191 18 8.71875C18 8.40784 17.7481 8.15625 17.4375 8.15625H9.84375V0.5625C9.84375 0.251587 9.59189 0 9.28125 0Z' fill='%23636B73'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 18px 18px;
      transition: transform var(--transition-props);
    }

    &[aria-expanded="true"] {
      &::after {
        transform: rotate(135deg);
      }
    }
  }

  &__content {
    transition: var(--transition-props);

    & > p {
      position: relative;
      margin-top: 12px;
      padding-top: 16px;
      margin-right: 66px;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 1px;
        background-color: var(--gray80);
        transition: width var(--transition-props);
      }
    }

    &[aria-hidden="false"] {
      & > p {

        &::before {
          width: 100%;
        }
      }
    }
  }
}
