.product-descr-item {
  padding-top: 30px;
  padding-bottom: 30px;

  &__title {
    margin-bottom: 30px;
  }

  &__content {
    max-width: 825px;
  }

  &__gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 10px;

    & a {
      color: var(--black);
      text-decoration: none;
    }
  }

  &__gallery-img {
    display: block;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 16px;
  }

  @include media-min ($md) {
    &__gallery {
      grid-template-columns: repeat(4, 1fr);
      row-gap: 40px;
    }
  }

  @include media-min ($xl) {
    &__gallery {
      grid-template-columns: repeat(6, 1fr);
    }

    &__gallery-img {
      width: 120px;
      height: 120px;
    }
  }
}
