.product-content {
  border-top: 1px solid var(--gray80);
  border-bottom: 1px solid var(--gray80);

  &__row {
    border-top: 1px solid var(--gray80);
  }

  &__top {
    padding-top: 30px;
  }

  &__bottom {
    padding-top: 30px;
    padding-bottom: 60px;
  }

  @include media-min ($xl) {

    &__top {
      padding-top: 40px;
      padding-bottom: 60px;
      display: grid;
      grid-template-columns: 635px auto;
      align-items: start;
      column-gap: 50px;
    }

    &__bottom {
      padding-top: 50px;
      padding-bottom: 80px;
    }
  }
}
