.visually-hidden:not(:focus):not(:active),
input[type="radio"].visually-hidden,
input[type="checkbox"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 540px;

  @include media-min ($md) {
    max-width: 690px;
  }

  @include media-min ($lg) {
    max-width: 940px;
  }

  @include media-min ($xl) {
    max-width: 1110px;
  }
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.site-container {
  overflow: hidden;
}

.site-content {
  padding-top: 60px;

  @include media-min ($md) {
    padding-top: 70px;
  }

  @include media-min ($xl) {
    padding-top: 160px;
  }
}

.site-page {
  background-color: var(--gray10);
  padding-top: 30px;
  padding-bottom: 60px;

  &__content {
    max-width: 920px;

    & > *:first-child {
      margin-top: 0;
      padding-top: 0;
    }

    & > *:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }

    & a {
      &:hover {
        text-decoration: none;
      }
    }
  }

  @include media-min ($md) {
    padding-top: 40px;
  }

  @include media-min ($xl) {
    padding-bottom: 80px;
  }
}

.site-title {
  border-bottom: 1px solid var(--gray80);
  padding-bottom: 16px;
}

.is-open-menu {
  overflow: hidden;
}

.is-hidden {
  display: none!important;
}

.indent-reset {
  margin: 0;
  padding: 0;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.lnum {
  font-variant-numeric: lining-nums;
  font-feature-settings: "lnum";
  -webkit-font-feature-settings: "lnum";
  -moz-font-feature-settings: "lnum";
}

.custom-scroll {
  scrollbar-color: var(--pink40) var(--pink10);
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: var(--pink10);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--pink40);
  }
}
